In [1]:
import pandas as pd
import numpy as np
import matplotlib
matplotlib.font_manager._rebuild()
#import matplotlib 
import matplotlib.pyplot as plt
%matplotlib inline
matplotlib.rcParams["figure.figsize"] = (20,10)

ImportError: DLL load failed while importing ft2font: The specified module could not be found.

In [43]:

df1 = pd.read_csv("bomdata.csv")
df1.head()

,bhk,type,locality,area,price,price_unit,region,status,age
0,3,Apartment,Lak And Hanware The Residency Tower,685,2.50,Cr,Andheri West,Ready to move,New
1,2,Apartment,Radheya Sai Enclave Building No 2,640,52.51,L,Naigaon East,Under Construction,New
2,2,Apartment,Romell Serene,610,1.73,Cr,Borivali West,Under Construction,New
3,2,Apartment,Soundlines Codename Urban Rainforest,876,59.98,L,Panvel,Under Construction,New
4,2,Apartment,Origin Oriana,659,94.11,L,Mira Road East,Under Construction,New

In [45]:
df1.shape

(76038, 9)

In [47]:
df1.groupby('bhk')['bhk'].agg('count')

bhk
1     24613
2     31429
3     15273
4      3934
5       606
6       148
7        16
8         8
9         5
10        6
Name: bhk, dtype: int64

In [49]:
df2= df1.drop(['status','age'],axis='columns')
df2.head()

,bhk,type,locality,area,price,price_unit,region
0,3,Apartment,Lak And Hanware The Residency Tower,685,2.50,Cr,Andheri West
1,2,Apartment,Radheya Sai Enclave Building No 2,640,52.51,L,Naigaon East
2,2,Apartment,Romell Serene,610,1.73,Cr,Borivali West
3,2,Apartment,Soundlines Codename Urban Rainforest,876,59.98,L,Panvel
4,2,Apartment,Origin Oriana,659,94.11,L,Mira Road East

In [51]:
df2.isnull().sum()

bhk           0
type          0
locality      0
area          0
price         0
price_unit    0
region        0
dtype: int64

In [53]:
df2.loc[df2['price_unit'] == 'Cr', 'price'] *= 100

In [55]:
df2.head()

,bhk,type,locality,area,price,price_unit,region
0,3,Apartment,Lak And Hanware The Residency Tower,685,250.00,Cr,Andheri West
1,2,Apartment,Radheya Sai Enclave Building No 2,640,52.51,L,Naigaon East
2,2,Apartment,Romell Serene,610,173.00,Cr,Borivali West
3,2,Apartment,Soundlines Codename Urban Rainforest,876,59.98,L,Panvel
4,2,Apartment,Origin Oriana,659,94.11,L,Mira Road East

In [57]:
df2.loc[df2['price_unit'] == 'Cr', 'price_unit'] = 'L'

In [59]:
df2.head()

,bhk,type,locality,area,price,price_unit,region
0,3,Apartment,Lak And Hanware The Residency Tower,685,250.00,L,Andheri West
1,2,Apartment,Radheya Sai Enclave Building No 2,640,52.51,L,Naigaon East
2,2,Apartment,Romell Serene,610,173.00,L,Borivali West
3,2,Apartment,Soundlines Codename Urban Rainforest,876,59.98,L,Panvel
4,2,Apartment,Origin Oriana,659,94.11,L,Mira Road East

In [61]:
df2['bhk'].unique()

array([ 3,  2,  5,  1,  4,  6,  9,  8, 10,  7], dtype=int64)

In [63]:
df2[df2.bhk>6]

,bhk,type,locality,area,price,price_unit,region
3038,9,Apartment,Tridhaatu Tridhaatu Aranya,5500,2313.0,L,Deonar
8134,8,Apartment,Ajmera Treon,3285,850.0,L,Wadala
8453,9,Apartment,Reputed Builder Varsha Apartments,6350,3400.0,L,Juhu
8454,10,Apartment,Reputed Builder Varsha Apartments,6200,3300.0,L,Juhu
8455,10,Apartment,Reputed Builder Avighna,6500,3500.0,L,Chembur
8557,8,Apartment,Reputed Builder Atlantis,7800,2500.0,L,Kharghar
8559,9,Apartment,Parthenon Raiaskaran,8500,3000.0,L,Andheri West
11846,9,Apartment,Reputed Builder Ram Niwas,7000,3600.0,L,Kandivali West
12080,7,Apartment,Heena Gokul Ashirwad,5000,1700.0,L,Juhu
14848,7,Villa,Ahuja Tower,12400,3500.0,L,Prabhadevi
17186,8,Apartment,Reputed Builder Sangeeta Apartments,5400,2700.0,L,Chembur
19009,8,Apartment,Sheth Vasant Oasis,3700,985.0,L,Andheri East
20868,7,Apartment,Reputed Builder Sagar Darshan Towers,4600,950.0,L,Nerul
26911,7,Apartment,Piramal Revanta,2766,770.0,L,Mulund West
30271,7,Apartment,Lodha Trump Tower Mumbai,4000,1500.0,L,Lower Parel
30828,7,Apartment,Wadhwa 25 South Prabhadevi,6100,4575.0,L,Prabhadevi
30832,7,Apartment,Parthenon Raiaskaran,6660,2950.0,L,Andheri West
30834,8,Apartment,Rustomjee Elements,7500,5000.0,L,Andheri West
33384,7,Apartment,Sheth Montana,6080,765.0,L,Mulund West
40560,7,Apartment,Piramal Revanta,2766,771.0,L,Mulund West
42178,7,Apartment,Piramal Revanta,2766,770.0,L,Mulund West
44957,7,Apartment,Indiabulls Blu Tower B,5500,2200.0,L,Worli
45473,10,Apartment,Rustomjee Crown Phase 1,7500,4100.0,L,Prabhadevi
60864,10,Apartment,JP Chalet Amar,16000,5000.0,L,Juhu
62632,8,Apartment,Rangoli Emerene Heights,4350,1650.0,L,Santacruz West
68137,8,Apartment,Lodha Seaview,6650,3000.0,L,Napeansea Road
68204,9,Apartment,Arkade Rise,6000,3000.0,L,Peddar Road
68272,7,Apartment,Piramal Revanta Tower 1,3595,450.0,L,Mulund West
68330,8,Apartment,K Raheja Artesia Residential Wing Constructed ...,10000,3000.0,L,Worli
68497,7,Apartment,Omkar 1973,10000,2200.0,L,Worli
68538,10,Apartment,Indiabulls Blu Tower D,16000,4000.0,L,Worli
68539,10,Apartment,Sunteck Signature Island,16000,5000.0,L,Bandra Kurla Complex
71621,7,Apartment,Piramal Revanta,2766,771.0,L,Mulund West
72444,7,Apartment,Piramal Revanta,2766,771.0,L,Mulund West
74260,7,Apartment,Piramal Revanta Tower 1,2766,691.0,L,Mulund West

In [65]:
df2['area'].unique()

array([ 685,  640,  610, ..., 1974, 1634, 3049], dtype=int64)

In [67]:
df3=df2.copy()

In [69]:
df2.drop_duplicates()

,bhk,type,locality,area,price,price_unit,region
0,3,Apartment,Lak And Hanware The Residency Tower,685,250.00,L,Andheri West
1,2,Apartment,Radheya Sai Enclave Building No 2,640,52.51,L,Naigaon East
2,2,Apartment,Romell Serene,610,173.00,L,Borivali West
3,2,Apartment,Soundlines Codename Urban Rainforest,876,59.98,L,Panvel
4,2,Apartment,Origin Oriana,659,94.11,L,Mira Road East
...,...,...,...,...,...,...,...
76033,3,Apartment,Parinee Liva Roca,1527,700.00,L,Juhu
76034,5,Apartment,Parinee Liva Roca,3049,1200.00,L,Juhu
76035,4,Apartment,Lodha Seaview,3313,1000.00,L,Napeansea Road
76036,2,Apartment,Hubtown Serene,1305,425.00,L,Bandra East
76037,5,Apartment,Sunteck Signature Island,5200,2500.00,L,Bandra Kurla Complex

In [71]:
df2.shape

(76038, 7)

In [73]:
df3['price_per_sqft']=df3['price']*100000/df3['area']
df3.head()

,bhk,type,locality,area,price,price_unit,region,price_per_sqft
0,3,Apartment,Lak And Hanware The Residency Tower,685,250.00,L,Andheri West,36496.350365
1,2,Apartment,Radheya Sai Enclave Building No 2,640,52.51,L,Naigaon East,8204.687500
2,2,Apartment,Romell Serene,610,173.00,L,Borivali West,28360.655738
3,2,Apartment,Soundlines Codename Urban Rainforest,876,59.98,L,Panvel,6847.031963
4,2,Apartment,Origin Oriana,659,94.11,L,Mira Road East,14280.728376

In [75]:
len(df3.region.unique())

228

In [77]:
len(df3.locality.unique())

9782

In [79]:
df3_stats = df3['price_per_sqft'].describe()
df3_stats

count     76038.000000
mean      15118.812074
std        9332.899565
min         646.766169
25%        8571.428571
50%       13000.000000
75%       19496.115827
max      182307.692308
Name: price_per_sqft, dtype: float64

In [81]:
df3.region = df3.region.apply(lambda x: x.strip())
region_stats = df3['region'].value_counts(ascending=False)
region_stats

region
Thane West         14868
Mira Road East      9902
Dombivali           3041
Kandivali East      2568
Kharghar            2362
                   ...
Police Colony          1
GTB Nagar              1
Bandra                 1
Sector 14 Vashi        1
Goregaon               1
Name: count, Length: 228, dtype: int64

In [83]:
len(region_stats[region_stats<=10])

114

In [85]:
regionless10=region_stats[region_stats<10]
regionless10

region
Cuffe Parade               9
kasaradavali thane west    9
Maneklal Estate            9
Dahisar West               9
Manpada                    8
                          ..
Police Colony              1
GTB Nagar                  1
Bandra                     1
Sector 14 Vashi            1
Goregaon                   1
Name: count, Length: 110, dtype: int64

In [87]:
len(df3.region.unique())

228

In [89]:
df3.region=df3.region.apply(lambda x: 'other' if x in regionless10 else x)
len(df3.region.unique())

119

In [90]:
df3.head(10)

,bhk,type,locality,area,price,price_unit,region,price_per_sqft
0,3,Apartment,Lak And Hanware The Residency Tower,685,250.00,L,Andheri West,36496.350365
1,2,Apartment,Radheya Sai Enclave Building No 2,640,52.51,L,Naigaon East,8204.687500
2,2,Apartment,Romell Serene,610,173.00,L,Borivali West,28360.655738
3,2,Apartment,Soundlines Codename Urban Rainforest,876,59.98,L,Panvel,6847.031963
4,2,Apartment,Origin Oriana,659,94.11,L,Mira Road East,14280.728376
5,2,Apartment,Bhoomi Simana Wing A Phase 1,826,330.00,L,Parel,39951.573850
6,5,Villa,Agami Estancia,2921,199.00,L,Boisar,6812.735365
7,3,Apartment,Sanghvi Infenia,778,289.00,L,Santacruz East,37146.529563
8,1,Apartment,Shubh Shreeji Heights,396,29.84,L,Badlapur East,7535.353535
9,2,Apartment,Aplite Greenstone Heritage,671,272.00,L,other,40536.512668

In [93]:
df3[df3.area/df3.bhk<=250].head()

,bhk,type,locality,area,price,price_unit,region,price_per_sqft
0,3,Apartment,Lak And Hanware The Residency Tower,685,250.0,L,Andheri West,36496.350365
49,3,Apartment,Lak And Hanware The Residency Tower,685,250.0,L,Andheri West,36496.350365
131,2,Apartment,Shubh Shreeji Heights,486,36.0,L,Badlapur East,7407.407407
132,2,Apartment,Shubh Shreeji Heights,486,36.0,L,Badlapur East,7407.407407
340,2,Apartment,HG Sai Tulip,500,10.0,L,Taloja,2000.000000

In [95]:
df3.shape

(76038, 8)

In [97]:
df4= df3[~(df3.area/df3.bhk<=250)]
df4.shape

(74983, 8)

In [99]:
df4.price_per_sqft.describe()

count     74983.000000
mean      15092.531226
std        9346.387929
min         646.766169
25%        8548.547425
50%       12947.368421
75%       19445.644867
max      182307.692308
Name: price_per_sqft, dtype: float64

In [101]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('region'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
df5 = remove_pps_outliers(df4)
df5.shape

(56390, 8)

In [102]:
def plot_scatter_chart(df, region):
    bhk2 = df[(df.region == region) & (df.bhk == 2)]
    bhk3 = df[(df.region == region) & (df.bhk == 3)]
    matplotlib.rcParams['figure.figsize'] = (15, 10)
    
    # Plot the first scatter with the label
    plt.scatter(bhk2.area, bhk2.price, color='blue', label='2 BHK', s=50)
    plt.scatter(bhk3.area, bhk3.price, marker='+', color='green', label='3 BHK', s=50)
    
    plt.xlabel("Total Square Feet Area")
    plt.ylabel("Price (Lakh Indian Rupees)")
    plt.title(region)
    
    # Display the legend only once
    plt.legend()
    plt.show()

plot_scatter_chart(df5, "Thane West")

NameError: name 'matplotlib' is not defined

In [104]:
plot_scatter_chart(df5,"Dombivali")
plt.show()

NameError: name 'matplotlib' is not defined

In [106]:
df5.describe()

                bhk          area         price  price_per_sqft
count  56390.000000  56390.000000  56390.000000    56390.000000
mean       1.995194   1037.880653    158.021767    14233.745597
std        0.903585    641.371800    180.231997     8083.194716
min        1.000000    251.000000      9.000000     2416.666667
25%        1.000000    654.000000     65.000000     8356.395628
50%        2.000000    900.000000    110.000000    12380.952381
75%        3.000000   1200.000000    190.000000    18333.333333
max       10.000000  16000.000000   5555.000000    67307.692308

In [108]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for region, region_df in df.groupby('region'):
        bhk_stats = {}
        for bhk, bhk_df in region_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in region_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')
df6 = remove_bhk_outliers(df5)

df6.shape

(38668, 8)

In [109]:
plot_scatter_chart(df6,"Dombivali")

NameError: name 'matplotlib' is not defined

In [ ]:
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)
plt.hist(df6.price_per_sqft,rwidth=0.8)
plt.xlabel("Price Per Square Feet")
plt.ylabel("Count")
plt.show()

In [ ]:
df6.head()

In [113]:
df6.shape

(38668, 8)

In [115]:
df7=df6.drop_duplicates()

In [117]:
df7.shape

(28541, 8)

In [119]:
df7.loc[:, 'type'] = df7['type'].apply(lambda x: x.strip())
type_stats = df7['type'].value_counts(ascending=False)
type_stats

type
Apartment            28021
Studio Apartment       452
Villa                   40
Independent House       27
Penthouse                1
Name: count, dtype: int64

In [121]:
# Assuming your DataFrame is named 'df'
df8 = df7[df7['type'].isin(['Apartment', 'Studio Apartment'])]

In [123]:
df8.shape

(28473, 8)

In [125]:
df8.head()

,bhk,type,locality,area,price,price_unit,region,price_per_sqft
0,2,Apartment,Grace Grace Fluidic,650,262.0,L,Agripada,40307.692308
1,1,Apartment,Limra Burj Qadri,803,225.0,L,Agripada,28019.925280
2,1,Apartment,Hi Rock Kinjal Nine,684,170.0,L,Agripada,24853.801170
3,1,Apartment,Dudhwala Complex,545,160.0,L,Agripada,29357.798165
10,4,Apartment,Nathani Heights,3454,1250.0,L,Agripada,36189.924725

In [127]:
df8.to_csv('df8main.csv', index=False)

In [ ]:
dummies=dummies.astype(int)
print(dummies)

In [ ]:
df8.head()

In [ ]:
df9 = pd.concat([df8,dummies.drop('other',axis='columns')],axis='columns')
df9.head()

In [ ]:
df10 = df9.drop('region',axis='columns')
df10.head(2)

In [ ]:
df10.shape

In [ ]:
df11=df10.copy()

In [ ]:
df11.to_csv(r'C:\Users\sidha\Desktop\projext\maindf11.csv')

In [ ]:
columns_to_drop = ['price', 'type', 'locality','price_unit',"price_per_sqft"]
X = df10.drop(columns_to_drop, axis=1)
X.head(2)

In [ ]:
y = df10.price
y.head(3)

In [ ]:
len(y)

In [ ]:
import seaborn as sns
plt.figure(figsize=(15, 6))
sns.heatmap(X.corr(),
            cmap = 'BrBG',
            fmt = '.2f',
            linewidths = 10,
            annot = True)
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [ ]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

In [ ]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

In [ ]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.cluster import KMeans

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'fit_intercept': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

In [ ]:
def predict_price(region,area,bhk):    
    loc_index = np.where(X.columns==region)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = area
    x[1] = bhk
    if loc_index >= 0:
        x[loc_index] = 1

    return lr_clf.predict([x])[0]

In [ ]:

X.columns

In [ ]:
X.head()

In [ ]:
y.head()